:root[data-theme='light'] {
    --bg-color: #e2e2e2;
    --text-color: #333;
    --task-bg: #fff;
    --border-color: #bbb;
}

:root[data-theme='dark'] {
    --bg-color: #333;
    --text-color: #e2e2e2;
    --task-bg: #444;
    --border-color: #666;
}

:root[data-theme='pink'] {
    --bg-color: #ffe2e2;
    --text-color: #991c55;
    --task-bg: #ffd1d9;
    --border-color: #ff88a8;
}

:root[data-theme='cyan'] {
    --bg-color: #e2f9ff;
    --text-color: #006d80;
    --task-bg: #bdeff7;
    --border-color: #8ed9e7;
}

/* General Styles */
body {
    padding: 20px;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    color: var(--text-color);
}

.container {
    margin: 0 auto;

    max-width: 600px;
}

/* List Styles */
ul {
    padding: 0;
    list-style: none;
}
/* Navigation Menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul div {
    display: inline;
    margin-right: 10px;
}

/* Task List Styles */
.active-tasks, 
.completed-tasks {
    margin-bottom: 20px;

    border-top: 1px solid var(--border-color);
}

.todolist li.task-item, li.subtask-item {
    margin: 10px 0;
}

/* Task and Subtask Editing */
.task-name[contenteditable="true"], 
.subtask-name[contenteditable="true"] {
    outline: none;
    border: none;

    background-color: transparent;
}

/* Button Styles */
button {
    margin-right: 10px;
    cursor:pointer;
    outline: none;
    border: none;
    background-color: transparent;
    color:var(--text-color);
    font-size: 1.2rem;
}

/* Task Layout */
.task-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor:auto;
}

.main-taskbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.task-item,.subtask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5px 0;
    padding: 10px;
    border-radius: 5;
    border: 1px solid var(--border-color);

    background: var(--task-bg);
}

span.task-name, span.subtask-name {
    flex-grow:1;
    word-wrap:break-word;
    min-width: 1%;
    margin-right: 10px;
    cursor:text;
}

.options {
    display: flex;
    flex-wrap: nowrap;
}

/* Subtask Styles */
.subtasks li {
    margin-left: 15px;
    margin-right: 15px;
}

.draggable {
    cursor: grab;
    padding-left: 20px;
}

li.drag {
    cursor: grabbing;
    opacity: 0.5; /* Slightly transparent while dragging */
}

.placeholder {
    position: absolute;
    height: 30px;  /* Thin line */
    background: linear-gradient(to bottom, rgb(176, 107, 255), rgba(176, 107, 255, 0));
    border-radius: 5px;
    visibility: hidden;  /* Hidden until placed */
    z-index: 10;
}