/* General Styles */
body {
    padding: 20px;

    background-color: #e2e2e2;

    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;

    max-width: 600px;
}

/* List Styles */
ul {
    padding: 0;
    list-style: none;
}

.task-item,.subtask-item {
    display: flex;
    justify-content: space-between;

    margin: 5px 0;
    padding: 10px;
    border: 1px solid #bbb;

    background: #fff;
}

/* Navigation Menu */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Task List Styles */
.active-tasks, 
.completed-tasks {
    margin-bottom: 20px;

    border-top: 1px solid #ccc;
}

.todolist li.task-item, li.subtask-item {
    margin: 10px 0;
}

/* Task and Subtask Editing */
.task-name[contenteditable="true"], 
.subtask-name[contenteditable="true"] {
    outline: none;
    border: none;

    background-color: transparent;
}

/* Button Styles */
button {
    margin-right: 10px;
}

/* Task Layout */
.task-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-taskbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

span.task-name, span.subtask-name {
    flex-grow:1;
    word-wrap:break-word;
    min-width: 1%;
    margin-right: 10px;
}

.options {
    display: flex;
    flex-wrap: nowrap;
}

/* Subtask Styles */
.subtasks li {
    margin-left: 15px;
    margin-right: 15px;
}

.draggable {
    cursor: grab;
}

li.drag {
    cursor: grabbing;
    opacity: 0.5; /* Slightly transparent while dragging */
}

.placeholder {
    margin-bottom: 10px;
    height: 15px;
    margin-top: -14px;
    transform: translateY(7px);
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
}