body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

.active-tasks, .completed-tasks {
    border-top: 1px solid #ccc;
    margin-bottom: 20px; /* Add padding between sections */
}

.todolist li {
    list-style-type: none;
    margin: 5px 0;
}

button {
    margin-right: 10px;
}

.task-wrapper {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.main-taskbar {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.task-name[contenteditable="true"], 
.subtask-name[contenteditable="true"] {
    outline: none;
    border: none;
    background-color: transparent;
}